html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}
body {
    background-color: #1F2937;
    margin: 0;

}

/* Header Section */
header, 
.split {
    margin: 0 150px;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}
nav ul {
    list-style-type: none;
    font-size: 18px; 
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
}
a:link,
a:hover,
a:visited,
a:active {
    color: #E5E7EB;
}
.split{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}
.hero {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.main {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
    
}
sub {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 25px;
    margin-bottom: 25px;
}
button {
    color: white;
    background-color: #3882F6;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.placeholder {
    height: 200px;
    width: 420px;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section */

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}
.tiles {
    display: flex;
    justify-content: center;
  }

  .tile {
    width: 150px;
    height: 150px;
    border-radius: 5px;

    border: 2px solid #3882F6;

    display: flex;
    margin: 0 20px;
  }
  .tilesub {
    color: black;
    text-align: center;
    margin-top: 150px;
  }

/* Quote section */
  .quote {
    background-color: #E5E7EB;
    padding: 50px 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .words {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
    vertical-align: center;
  }
.thor {
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
}

/* Call to Action section */
.actionsection {
    background-color: white;
     width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.actionbox {
    background-color: #3882F6;
    border-radius: 5px; 
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
} 
.actionwords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.action {
    color: #f9faf8;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;

    display: flex;
    justify-content: flex-start;
}
.actionsub {
    color: #f9faf8;
    font-size: 18px;
    opacity: 90%;
    margin-top: 2px;
    display: flex;
    
}
.actionbutton {
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
} 

/* Footer */
footer {
    color: #f9faf8;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}